<mat-card>

    <div *ngIf="project">

        <mat-card-title fxLayout="row">
            <div fxFlex="80">Project: {{project.name}}</div>
            <div fxFlex></div>
            <button mat-icon-button fxFlex="nogrow" routerLink="..">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-title>

        <mat-card-content>
            <epic-list
                    [project]="project"
                    [epics]="project.epicNames"></epic-list>
        </mat-card-content>


    </div>

</mat-card>
