<mat-card>

    <div *ngIf="feature">
        <mat-card-title fxLayout="row">
            <div fxFlex="auto">Feature: {{feature.name}}</div>
            <div fxFlex=""></div>
            <button mat-icon-button fxFlex="nogrow" routerLink="../..">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-title>

        <mat-card-content>

            <dl>
                <dt>In order to&nbsp;</dt>
                <dd>{{feature.userStory.purpose}}</dd>
                <dt>As a&nbsp;</dt>
                <dd>{{feature.userStory.actor}}</dd>
                <dt>I want to&nbsp;</dt>
                <dd>{{feature.userStory.action}}</dd>
            </dl>




            <mat-card *ngFor="let child of feature.children">Scenario: {{child.name}}</mat-card>
        </mat-card-content>
    </div>
</mat-card>

